/* You can add global styles to this file, and also import other style files */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif !important;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background: #fffffc;
  color: #000000;
}

.material-icons{
  font-family: 'Material Icons', serif !important;
}
